<h1>Commandes </h1>
<ul>
  <% unless  @orders.nil?%>
    <%
      @orders = @orders.reverse
      @orders.each do |order|
      total_prix = 0
      order.items.map{ |item| total_prix+= item.price}
    %>
      <li>
        <h3>Commande du  <strong><%= order.updated_at %></strong>,  total <strong><%= total_prix %></strong> euros</h3>
        <% order.items.each do |item| %>
          <p>Produit <strong><%= item.title %></strong>,    Prix <strong><%= item.price %> euros</strong></p>
        <% end  %>
      </li>


    <% end %>

    <% else  %>

    <h3>Pas de commandes pour l'instant</h3>
  <% end  %>
</ul>
