

<h1>Index des Items</h1>

<% unless @items.empty? %>
  <ul class:"items-list">
    <% @items.each do |item| %>
      <li>
        <%=link_to image_tag("cats/"+item.image_url, size:"300x300"), item  %>


      </li>
    <% end  %>
  </ul>

<% else %>
  <%= "pas d'item pour l'instant" %>
<% end  %>
